<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788259437251-fqq9p31dqt2a0m7l8lfhv7qra9hkreed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788259437251-fqq9p31dqt2a0m7l8lfhv7qra9hkreed</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788259437251-miki3jhhrlcooo8muof7a8v12hr8d9ks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeezS1StVd6zsJ6UZWq0cTKJiF-yxc-jk</string>
	<key>GCM_SENDER_ID</key>
	<string>788259437251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singhthatcodes.chatify</string>
	<key>PROJECT_ID</key>
	<string>chattily-4a049</string>
	<key>STORAGE_BUCKET</key>
	<string>chattily-4a049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788259437251:ios:dad0e1bcbc7970fd3d8076</string>
</dict>
</plist>